<div class="full-background-container">
  <!-- Background Image -->
  <div class="background-image"></div>

  <!-- Logo (top-left) -->
  <div class="logo-container">
    <ng-container *ngIf="options.theme === 'light'">
      <a [routerLink]="['/dashboards/dashboard1']">
        <img src="./assets/images/logos/dark-logo.svg" alt="logo" />
      </a>
    </ng-container>
    <ng-container *ngIf="options.theme === 'dark'">
      <a [routerLink]="['/dashboards/dashboard1']">
        <img src="./assets/images/logos/light-logo.svg" alt="logo" />
      </a>
    </ng-container>
  </div>

  <!-- Centered Card -->
  <div class="form-card-container">
    <div class="form-card">
      <h4 class="f-w-700 f-s-24 m-0 text-center">Reset your password</h4>
      <p class="f-s-14 m-t-8 text-center">Set a new password for your account below.</p>

      <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
        <mat-label class="f-s-14 f-w-600 m-b-6 d-block">New Password</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="f['password'].touched && f['password'].errors?.['required']">
            Password is required.
          </mat-error>
        </mat-form-field>

        <mat-label class="f-s-14 f-w-600 m-t-16 m-b-6 d-block">Confirm Password</mat-label>
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="password" formControlName="confirmPassword" />
          <mat-error *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['required']">
            Confirmation is required.
          </mat-error>
          <mat-error *ngIf="f['confirmPassword'].touched && f['confirmPassword'].errors?.['mismatch']">
            Passwords do not match.
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-100 m-t-24" [disabled]="!form.valid">
          Reset Password
        </button>
        <a [routerLink]="['/authentication/authentication/login']" mat-stroked-button color="primary" class="w-100 m-t-12">
          Back to Login
        </a>
      </form>
    </div>
  </div>
</div>
