.profile-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-input {
  width: 100%;
}

.d-flex {
  display: flex;
}

.gap-3 {
  gap: 12px;
}

.m-t-20 {
  margin-top: 20px;
}
