
<mat-card class="cardWithShadow">
    <mat-card-header>
        <mat-card-title class="m-b-0 f-w-800">File & Sign</mat-card-title>
    </mat-card-header>

    <mat-card-content class="p-l-20 p-r-20">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="RECENTLY RECEIVED DOCUMENTS">
                <div class="bg-white mat-body-1 p-16 rounded">
                    <div class="table-responsive">
                        <p-table [value]="dataSourceRECEIVED.data" styleClass="p-datatable">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="f-s-16 f-w-600">Message</th>
                                    <th class="f-s-16 f-w-600">Company</th>
                                    <th class="f-s-16 f-w-600">From</th>
                                    <th class="f-s-16 f-w-600">Date</th>
                                    <th class="f-s-16 f-w-600">Status</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-element>
                                <tr>
                                    <td>{{ element.message }}</td>
                                    <td>{{ element.company }}</td>
                                    <td>{{ element.to }}</td>
                                    <td>{{ element.date }}</td>
                                    <td>
                                        <span *ngIf="element.status == 'UNSOLVED'" class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ element.status | uppercase }}
                                        </span>
                                        <span *ngIf="element.status == 'SCHEDULE'" class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ element.status | uppercase }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="RECENTLY SENT DOCUMENTS">
                <div class="bg-white mat-body-1 p-16 rounded">
                    <div class="table-responsive">
                        <p-table [value]="dataSourceRECEIVED.data" styleClass="p-datatable-striped">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="f-s-16 f-w-600">Message</th>
                                    <th class="f-s-16 f-w-600">Company</th>
                                    <th class="f-s-16 f-w-600">To</th>
                                    <th class="f-s-16 f-w-600">Date</th>
                                    <th class="f-s-16 f-w-600">Status</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-element>
                                <tr>
                                    <td>{{ element.message }}</td>
                                    <td>{{ element.company }}</td>
                                    <td>{{ element.to }}</td>
                                    <td>{{ element.date }}</td>
                                    <td>
                                        <span *ngIf="element.status == 'UNSOLVED'" class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ element.status | uppercase }}
                                        </span>
                                        <span *ngIf="element.status == 'SCHEDULE'" class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12">
                                            {{ element.status | uppercase }}
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>