<mat-card class="cardWithShadow">
    <mat-card-header>
        <mat-card-title class="m-b-0 f-w-800">High Achievers</mat-card-title>
    </mat-card-header>

    <mat-card-content class="p-l-20 p-r-20 m-t-16">
        <div class="d-flex flex-wrap justify-content-between gap-4">
            <div class="box">
                <div class="bg-success rounded p-20">
                    <div>
                        <span class="d-flex text-white f-s-24 f-w-600">
                            <i-tabler name="brand-youtube-kids" class="icon-26 d-flex m-r-12"></i-tabler>
                            Tutorials
                        </span>
                    </div>
                    <div class="d-flex w-100 m-t-12">
                        <span class="f-s-20 text-white">Total</span>
                        <span class="f-s-24 text-white m-l-auto"><strong>64</strong></span>
                    </div>
                    <div class="d-flex w-100 m-t-12">
                        <span class="f-s-20 text-white">Passed</span>
                        <span class="f-s-24 text-white m-l-auto"><strong>2</strong></span>
                    </div>
                </div>
            </div>
    
            <div class="box">
                <div class="bg-error rounded p-20">
                    <div>
                        <span class="d-flex text-white f-s-24 f-w-600">
                            <i-tabler name="chart-arrows-vertical" class="icon-26 d-flex m-r-12"></i-tabler>
                            Potential Value
                        </span>
                    </div>
                    <div class="m-t-24 m-b-24">
                        <span class="f-s-24 text-white p-t-14"><strong>660000</strong></span>
                    </div>
                </div>
            </div>
    
            <div class="box">
                <div class="bg-warning rounded p-20">
                    <div>
                        <span class="d-flex text-white f-s-24 f-w-600">
                            <i-tabler name="bounce-right" class="icon-26 d-flex m-r-12"></i-tabler>
                            Value Reached
                        </span>
                    </div>
                    <div class="m-t-24 m-b-24">
                        <span class="f-s-24 text-white p-t-14"><strong>10</strong></span>
                    </div>
                </div>
            </div>
    
            <div class="box">
                <div class="bg-accent rounded p-20">
                    <div>
                        <span class="d-flex text-white f-s-24 f-w-600">
                            <i-tabler name="brand-youtube-kids" class="icon-26 d-flex m-r-12"></i-tabler>
                            Leads
                        </span>
                    </div>
                    <div class="m-t-24 m-b-24">
                        <span class="f-s-24 text-white p-t-14"><strong>25</strong></span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    
</mat-card>