<div class="row">
    <div class="col-lg-12">
        <app-top-cards></app-top-cards>
    </div>
    <div class="col-lg-6">
        <app-last-newsletter-statistics-clients></app-last-newsletter-statistics-clients>
    </div>
    <div class="col-lg-6">
        <app-last-newsletter-statistics-employees></app-last-newsletter-statistics-employees>
    </div>
    <div class="col-lg-5 m-t-24">
        <app-informailer></app-informailer>
    </div>
    <div class="col-lg-7 m-t-24">
        <app-file-and-sign></app-file-and-sign>
    </div>
    <div class="col-lg-7">
        <app-infolearning></app-infolearning>
    </div>
    <div class="col-lg-5">
        <app-high-achievers></app-high-achievers>
    </div>
</div>

<p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'"
    [showTransformOptions]="'translateX(100%)'" />