<div class="overview-container p-4 margin_adjustment">

  <!-- My List -->
  <div class="mb-20 margin_adjustment">
   

    <p-card header="My List" class="mb-4">
      <mat-divider></mat-divider>
      <div class=" row grid grid-row-4 md:grid-row-4 gap-30 justify-content-center " style="margin-top: 50px;">

        <div class="flex-col justify-content-start mx-8 margin_adjustment">
          <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
            <img src="assets/Overview/11.png" alt="Wishlist" class="w-8 h-8 mb-2 mr-2" />
          </div>
          <span>Wishlist</span>
        </div>

        <div class="flex-col justify-content-start mx-8 margin_adjustment">
          <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
            <img src="assets/Overview/12.png" alt="Viewed" class="w-8 h-8 mb-2 mr-2" />
          </div>
          <span>Viewed</span>
        </div>

        <div class="flex-col justify-content-start mx-4 margin_adjustment">
          <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
            <img src="assets/Overview/13.png" alt="Coupons" class="w-8 h-8 mb-2 mr-2" />
          </div>
          <span>Coupons</span>
        </div>

        <div class="flex-col justify-content-start mx-4 margin_adjustment">
          <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
            <img src="assets/Overview/14.png" alt="Shopping List" class="w-8 h-8 mb-2 mr-2" />
          </div>
          <span>Shopping List</span>
        </div>

      </div>
    </p-card>
  </div>

  <!-- My Orders -->
  <div class=" margin_t"></div>
  <p-card header="My Orders" class="margin_t ">
    <mat-divider></mat-divider>
    <div class="row grid-row-4 md:grid-row-4 gap-30 justify-content-center "
      style="margin-top: 50px;  margin-bottom: 50px;">

      <div class="flex-col justify-content-start mx-4 margin_adjustment">
        <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
          <img src="assets/Overview/15.png" alt="Unpaid" class="w-8 h-8 mb-2 mr-2" />
        </div>
        <span>Unpaid</span>
      </div>

      <div class="flex-col justify-content-start mx-4 margin_adjustment">
        <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
          <img src="assets/Overview/16.png" alt="To be Shipped" class="w-8 h-8 mb-2 mr-2" />
        </div>
        <span>In Progress</span>
      </div>

      <div class="flex-col justify-content-start mx-4 margin_adjustment">
        <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
          <img src="assets/Overview/17.png" alt="Shipped" class="w-8 h-8 mb-2 mr-2" />
        </div>
        <span>Shipped</span>
      </div>

      <div class="flex-col justify-content-start mx-4 margin_adjustment">
        <div class="flex flex-row items-center hover:text-indigo-600 cursor-pointer">
          <img src="assets/Overview/18.png" alt="To be Reviewed" class="w-8 h-8 mb-2 mr-2" />
        </div>
        <span>To be Reviewed</span>

      </div>


    </div>
    <mat-divider></mat-divider>

    <div class="mt-6 border-t pt-4 space-y-2 ">
      <div class="flex items-center hover:text-indigo-600 cursor-pointer" style="margin-top: 20px;  margin-bottom: 20px;">
        <i class="pi pi-inbox" style="font-size: 1rem"></i>
        <span> My appeal</span>
        
      </div >

      <mat-divider></mat-divider>

      <div class="flex items-center hover:text-indigo-600 cursor-pointer" style="margin-top: 20px;  margin-bottom: 20px;">
             <i class="pi pi-dollar" style="font-size: 1rem"></i>
        <span> In dispute</span>
      </div>
    </div>
     <mat-divider></mat-divider>

  </p-card>

</div>