<mat-form-field appearance="outline" class="w-100">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Tag selection">
      <mat-chip-row *ngFor="let chip of selectedChips" (removed)="removeChip(chip)">
        {{ chip }}
        <button matChipRemove [attr.aria-label]="'remove ' + chip">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New Tag..." #chipInput [formControl]="currentChipControl" [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addChip($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedChip($event)">
      <mat-option *ngFor="let chip of filteredChips()" [value]="chip">{{ chip }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
  